


body{
    background-color: rgb(0 ,0 ,0);
    
    text-align: center;
    color: rgb(0 ,0 ,0);
}
h1{
    background-color: rgb(0 ,0 ,0);
    text-align: center;
}


p{
    background-color: rgb( 0, 0 ,0);
    text-align: center;

}

img {
    width: 40vw;
    left: 60px;
    position:center;
    border-radius: 90%;
    

}

small-text-box {
    width: 200px;         
    height: 100px;        
    padding: 10px;       
    border: 1px solid #ccc; 
    overflow: auto;       
    margin: 20px;       
}





