


body{
    background-color: rgb(142, 152, 180);
    animation-name: myAnimation;
    text-align: center;
    color: rgb(25, 0, 255);
}
h1{
    background-color: rgb(255 , 255 , 255);
    text-align: center;
}


p{
    background-color: rgb(21, 61, 9);
    text-align: center;

}

img {
    width: 40vw;
    left: 60px;
    position:center;
    border-radius: 90%;
    

}

text-border {
    border: 3px solid red;
    padding: 10px;       
    display: inline-block; 
}


