
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}


.content-box {
    width: 60%;
    max-width: 700px;

    margin: 60px auto;
    padding: 30px;

    border: 3px solid white;
    border-radius: 15px;
}


img {
    width: 250px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}


p {
    line-height: 1.6;
}





